# packages/server/serverless.yml
service: expense-tracker-api
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  profile: expense-tracker
  environment:
    MONGO_URI: ${env:MONGO_URI, ''}
    JWT_SECRET: ${env:JWT_SECRET, ''}

  httpApi:
    cors:
      allowedOrigins:
        - "*"
      allowedHeaders:
        - "Content-Type"
        - "Authorization"
      allowedMethods:
        - GET
        - POST
        - OPTIONS

plugins:
  - serverless-esbuild

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: node20
    platform: node

functions:
  health:
    handler: src/handlers/health.handler
    events:
      - httpApi:
          path: /api/health
          method: get
  authRegister:
    handler: src/handlers/auth.register
    events:
      - httpApi:
          path: /api/auth/register
          method: post
  login:
    handler: src/handlers/auth.login
    events:
      - httpApi:
          path: /api/auth/login
          method: post
  createExpense:
    handler: src/handlers/createExpenses.handler
    events:
      - httpApi:
          path: /api/expenses
          method: post
